@charset "utf-8";
.draw {
    bottom: 173px
}

#draw-status p {
    color: #000
}

#draw-warn p {
    color: #ffa824
}

#draw-err p {
    color: red
}

#drawgraph {
    height: 530px;
    width: 700px;
}

#drawgraph #main {
    padding: 5px 15px
}

#drawgraph-actions {
    padding-left: 50px;
    bottom: 200px;
    left: 200px;
    float: left
}

#drawgraph-actions p {
    padding: 10px;
    cursor: pointer;
    float: left
}

#drawgraph-actions #drawgraph-form {
    padding: 10px;
    cursor: pointer;
    float: left
}

#drawgraph-actions p:hover {
    background: #000;
    color: #fff
}

#drawgraph-actions p:first-of-type {
    padding-top: 10px
}

#drawgraph-actions p:last-of-type {
    padding-bottom: 10px
}

#drawgraph-actions-hide {
    bottom: 60px;
    left: 0;
    padding-left: 14px;
    padding-right: 15px
}

#drawgraph svg {
    border: 2px solid;
    background-color: #eee;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

#drawgraph svg:not(.active):not(.ctrl) {
    cursor: crosshair
}

#drawgraph path.link {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    cursor: default
}

#drawgraph svg:not(.active):not(.ctrl) path.link {
    cursor: pointer
}

#drawgraph path.link.selected {
    stroke-dasharray: 10, 2
}

#drawgraph path.link.dragline {
    pointer-events: none
}

#drawgraph path.link.hidden {
    stroke-width: 0
}

#drawgraph circle.node {
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer
}

#drawgraph text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    pointer-events: none
}

#drawgraph text.weight {
    cursor: pointer;
    font-weight: 700;
    text-anchor: middle
}

#drawgraph text.id {
    text-anchor: middle;
    font-weight: 700
}

#drawgraph .tableTitle {
    width: 100%;
    background-color: #090;
    color: #fff;
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center
}

#drawgraph .graphTable {
    border-collapse: collapse;
    border-spacing: 0
}

#drawgraph .graphTable td {
    border: 1px solid #000;
    text-align: center;
    padding: 0
}

#drawgraph .graphTable tr:hover {
    background-color: #fff
}

#drawgraph #IsBipartite, #drawgraph #IsBipartite0, #drawgraph #IsComplete, #drawgraph #IsComplete0, #drawgraph #IsDAG, #drawgraph #IsDAG0, #drawgraph #IsTree, #drawgraph #IsTree0 {
    font-family: Arial, serif;
    font-size: 14px
}

#drawgraph .bold {
    font-weight: 700
}

html {
    overflow-y: auto
}

#mode-menu {
    z-index: 1001;
    float: right;
    background: #000;
    font-size: 14px;
    width: 160px;
    position: relative
}

#mode-button {
    cursor: pointer;
    padding: 10px 15px
}

#mode-button img {
    position: absolute;
    top: 18px;
    right: 15px;
    display: inline-block
}

#other-modes {
    position: absolute;
    width: 160px;
    background: #000;
    display: none;
    cursor: pointer
}

#other-modes a {
    display: block;
    padding: 8px 15px
}

#left-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    background: #000;
    z-index: -1
}

#right-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    background: #000;
    z-index: -2
}

#bottom-bar {
    position: fixed;
    z-index: -1;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%
}

#speed-control {
    position: fixed;
    left: 40px;
    bottom: 15px;
    color: #fff;
    font-size: 11px;
    line-height: 100%
}

#speed-control .ui-slider {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    background-color: #000;
    height: 6px;
    width: 60px
}

#speed-control .ui-slider-handle {
    position: absolute;
    margin-left: -5px;
    border: none;
    outline: 0;
    background-color: #fff;
    height: 6px;
    width: 10px
}

.media-control-button {
    cursor: pointer;
    position: fixed;
    opacity: .75
}

.media-control-button:hover {
    opacity: 1
}

.media-control-button img {
    display: inline-block
}

#go-to-end {
    bottom: 10px;
    left: 50%;
    margin-left: -175px
}

#next {
    bottom: 10px;
    left: 50%;
    margin-left: -207px
}

#pause, #play {
    bottom: 8px;
    left: 50%;
    margin-left: -243px;
    opacity: 1
}

#previous {
    bottom: 10px;
    left: 50%;
    margin-left: -275px
}

#go-to-beginning {
    bottom: 10px;
    left: 50%;
    margin-left: -305px
}

#stop {
    bottom: 10px;
    left: 50%;
    margin-left: 195px;
    opacity: 1
}

#progress-bar.ui-slider {
    bottom: 17px;
    left: 50%;
    margin-left: -150px;
    background-color: #000;
    height: 6px;
    width: 350px;
    opacity: 1
}

#progress-bar .ui-slider-handle {
    position: absolute;
    border: none;
    outline: 0;
    background-color: #fff;
    height: 6px;
    width: 5px
}

#progress-bar .ui-slider-range {
    position: absolute;
    height: 6px
}

#viz {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.execAction {
    cursor: pointer
}

.execAction:hover {
    background-color: #000;
    color: #fff
}

.menu-highlighted {
    font-weight: 700;
    text-decoration: underline
}

.panel {
    position: fixed;
    color: #fff;
    width: 0;
    overflow: hidden;
    background: #bcbcbc;
    white-space: nowrap
}

.panel-hide {
    position: fixed;
    cursor: pointer;
    background: #bcbcbc
}

#current-action {
    bottom: 320px;
    right: 46px;
    width: 400px;
    display: block;
    background: 0 0;
    overflow: hidden;
    white-space: normal;
    text-align: right;
    color: #000;
    font-weight: 700;
    font-size: 20px
}

#actions {
    bottom: 60px;
    left: 43px
}

#actions p {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer
}

#actions {
    color: #fff
}

#actions p:hover {
    background-color: #000;
    color: #fff
}

#actions p:first-of-type {
    padding-top: 10px
}

#actions p:last-of-type {
    padding-bottom: 10px
}

#actions-hide {
    bottom: 60px;
    left: 0;
    padding-left: 14px;
    padding-right: 15px
}

.action-menu-pullout {
    display: none;
    position: fixed
}

.action-menu-pullout input {
    background: #000;
    color: #fff
}

.new-menu-option {
    margin-left: 3px
}

.err {
    color: red;
    margin-left: 6px
}

.rating-star {
    font-size: 25px;
    font-weight: 700
}

#status {
    bottom: 255px;
    right: 43px;
    height: 54px;
    white-space: normal
}

#status p {
    padding: 10px
}

#status-hide {
    bottom: 255px;
    right: 0;
    padding: 19px 14px 19px 15px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

#codetrace {
    bottom: 60px;
    right: 43px;
    height: 192px;
    font-family: courier new, Courier, monospace
}

#codetrace p {
    padding: 5px 10px
}

#codetrace p.highlighted {
    background: #000
}

#codetrace-hide {
    bottom: 60px;
    right: 0;
    padding: 88px 14px 88px 15px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

.rotateRight {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s
}

.rotateLeft {
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -moz-transform: rotate(0);
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s
}

.electure-dialog {
    position: fixed;
    background: #000;
    color: #fff;
    padding: 12px 12px 24px;
    border-radius: 3px;
    display: none;
    line-height: 150%;
    z-index: 9999
}

.electure-dialog:before {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent
}

.electure-end {
    position: absolute;
    bottom: -12px;
    right: -10px;
    padding: 3px 8px;
    background: #999;
    color: #fff;
    cursor: pointer;
    border-radius: 2px
}

.electure-print {
    position: absolute;
    bottom: -12px;
    left: -10px;
    padding: 3px 8px;
    background: #999;
    color: #fff;
    cursor: pointer;
    border-radius: 2px
}

#electure-dropdown {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    padding: 8px 8px 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 2px
}

#popup {
    width: 600px;
    height: 480px;
    background-color: #ccc;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    margin: auto
}

#popup-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    box-shadow: -1px 1px 3px #222
}

#hide-popup {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1px 5px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: green
}

#overlay {
    background-color: #000;
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8000
}

html,
body,
*::-webkit-scrollbar {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

u {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul,
li {
    padding: 0;
    margin: 0;
}

form {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #eee;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#top-bar {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #673ab7;
    color: #fff;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#loading-message {
    display: block;
    width: 200px;
    height: 120px;
    margin-left: -100px;
    margin-top: -60px;
    text-align: center;
}

#loading-message img {
    height: 50px;
    margin: 20px auto auto;
}

#home {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

#title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.url {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

.links {
    float: right;
    position: relative;
    margin-left: 10px;
    padding: 1px 5px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    background-color: green;
}

.lecture-actions {
    position: relative;
    margin-left: 10px;
    padding: 1px 5px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: green;
}

.slide-actions {
    position: relative;
    padding: 1px 5px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: green;
}

#fb-login {
    float: right;
    background: #516eab;
    padding: 11px 15px;
    font-size: 14px;
}

.right-links {
    float: right;
    position: relative;
    margin-left: 7px;
    padding: 11px 7px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#main {
    position: relative;
    padding: 30px 30px 10px 10px;
    overflow: auto;
}

#bottom-bar {
    padding: 12px 30px;
    background: #673ab7;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}

#bottom-bar a {
    padding-left: 15px;
    cursor: pointer;
}

#dark-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlays {
    display: none;
    background: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    overflow-x: hidden;
    overflow-y: hidden;
}

#overlay {
    overflow-x: hidden;
    overflow-y: hidden;
}

#about {
    height: 620px;
    width: 620px;
    margin: auto;
}

#team {
    height: 550px;
    width: 650px;
    margin-left: -325px;
    margin-top: -295px;
}

.overlays .close-overlay {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-overlay {
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.overlays h4 {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    padding: 15px 20px;
}

.overlays .content {
    padding: 10px 20px 20px;
}

.overlays p {
    padding-top: 10px;
    font-size: 14px;
}

#custom-alert {
    width: 300px;
    margin-left: -150px;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 320px) {
    #top-bar {
        padding: 0 5px;
    }

    #topleft {
        min-height: 200px;
        max-height: 200px;
    }
}

@media (min-width: 480px) {
    #top-bar {
        padding: 0 5px;
    }

    #bottom-bar {
        padding: 12px 50px;
    }

    #main {
        padding: 50px 50px 30px 30px;
    }

    #topleft {
        min-height: 120px;
        max-height: 120px;
    }
}

@media (min-width: 768px) {
    #top-bar {
        padding: 0 40px;
    }

    #bottom-bar {
        padding: 12px 60px;
    }

    #main {
        padding: 60px 60px 40px 40px;
    }

    #topleft {
        min-height: 100px;
        max-height: 100px;
    }
}

.execAction {
    padding: 5px 8px;
}

.err {
    padding: 5px 0;
}

#actions-extras input {
    width: 35px;
    padding: 5px 8px 7px;
}

.draw {
    bottom: 173px;
}

.random {
    bottom: 146px;
}

.examples {
    bottom: 119px;
}

.kruskals {
    bottom: 92px;
}

.prims {
    bottom: 65px;
}

#status,
#status-hide,
#codetrace,
#codetrace-hide,
#actions,
#actions-hide,
#hide-popup,
#about h4,
#actions-toast,
.execAction {
    background-color: #673ab7;
}

#progress-bar {
    width: 100%;
    background-color: #d0d0d0;
}

#status,
#codetrace {
    width: 430px;
}

#actions {
    height: 118px;
    width: 0;
}

#actions-hide {
    padding-top: 51px;
    padding-bottom: 51px;
}

#code1 {
    margin-top: 8px;
}

#speed-input-handle {
    left: 72.2222%;
}

#speed-input-handle:hover {
    cursor: pointer;
}

#progress-bar-handle {
    left: 100%;
}

#codetrace-placeholder {
    margin-top: 6px;
}

#actions-extras .draw {
    left: 193px;
}

#actions-extras .draw-err,
.kruskals.action-menu-pullout .kruskals-err,
.prims.action-menu-pullout .prims-input,
.prims.action-menu-pullout .prims-err {
    float: left;
}

.examples.action-menu-pullout {
    left: 193px;
    display: none;
}

.execAction {
    float: left;
    color: white;
}

.kruskals.action-menu-pullout,
.prims.action-menu-pullout {
    left: 193px;
}

#drawgraph circle {
    fill: rgb(238, 238, 238);
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#actions-toast {
    position: absolute;
    width: 250px;
    left: 43px;
    bottom: 60px;
    padding: 10px;
    color: #fff;
}

.nav-menu {
    display: flex;
    float: right;
    font-size: 1rem;
}

.nav-menu a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-left: 24px;
    color: #fff;
    font-weight: 600;
}

.nav-menu a span {
    padding-top: 3px;
}

.nav-menu a svg {
    width: 22px;
    margin-right: 8px;
}

a {
    transition: 0.4s;
}

a:hover {
    color: #d1c4e9;
}

.overlays a {
    color: #673ab7;
}

.overlays a:hover {
    color: #b085f5;
}

.container {
    padding: 40px;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 8px;
}

p.description {
    font-weight: 600;
    font-size: 1rem;
}